
# PlanAhead Generated physical constraints 

NET "CLK" LOC = P79;
NET "FPGA_RSTB" LOC = P205;
NET "LCD_EN" LOC = P52;
NET "LCD_A[1]" LOC = P51;
NET "LCD_A[0]" LOC = P50;
NET "LCD_D[0]" LOC = P57;
NET "LCD_D[1]" LOC = P58;
NET "LCD_D[2]" LOC = P61;
NET "LCD_D[3]" LOC = P62;
NET "LCD_D[4]" LOC = P63;
NET "LCD_D[5]" LOC = P64;
NET "LCD_D[6]" LOC = P65;
NET "LCD_D[7]" LOC = P67;
NET "BINARY[3]" LOC = P12;
NET "BINARY[2]" LOC = P13;
NET "BINARY[1]" LOC = P15;
NET "BINARY[0]" LOC = P16;
NET "DIGIT[1]" LOC = P22;
NET "DIGIT[2]" LOC = P24;
NET "DIGIT[3]" LOC = P26;
NET "DIGIT[4]" LOC = P27;
NET "DIGIT[5]" LOC = P28;
NET "DIGIT[6]" LOC = P29;
NET "SEG_A" LOC = P31;
NET "SEG_B" LOC = P33;
NET "SEG_C" LOC = P34;
NET "SEG_D" LOC = P35;
NET "SEG_DP" LOC = P48;
NET "SEG_E" LOC = P36;
NET "SEG_F" LOC = P37;
NET "SEG_G" LOC = P39;
NET "PUSH_DL" LOC = P102;
NET "PUSH_DR" LOC = P100;
NET "PUSH_DC" LOC = P101;
NET "PUSH_UC" LOC = P19;
NET "PUSH_UL" LOC = P18;
NET "PUSH_UR" LOC = P20;
NET "FPGA_RSTB" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PUSH_DC" CLOCK_DEDICATED_ROUTE = FALSE;
